<div class="grid-block small-up-2" ng-controller="gameCtrl">

  <div class="grid-block vertical">
    <div class="grid-content text-center shrink">
      <h1 id="logo">
        <span class="success-color">S</span><span class="primary-color">k</span><span class="dark-color">e</span><span class="info-color">t</span><span class="warning-color">c</span><span class="alert-color">h</span><span class="success-color">Q</span><span class="primary-color">u</span><span class="dark-color">i</span><span class="info-color">z</span>
      </h1>
    </div>

  <div class="grid-block"
    <div class="grid-block small-up-2">
      <div class="grid-block vertical">
        <div class="grid-content">
          <h3 class="subheader" style="font-weight:300">Chat</h3>
          <b>Fred</b>: Word</br>
          <b>Player 2</b>: Word</br>
          <b>Player 3</b>: Word</br>
          <b>Player 1</b>: Word</br>
          <b>Player 2</b>: Word</br>
          <b>Player 3</b>: Word</br>
          <span class="info-color">Word is close</span></br>
          <b>Fred</b>: Word</br>
          <b>Player 2</b>: Word</br>
          <b>Player 3</b>: Word</br>
          <b>Player 1</b>: Word</br>
          <b>Player 2</b>: Word</br>
          <b>Player 3</b>: Word</br>
          <span class="success-color">You guessed right!</span></br>
          <div ng-repeat="message in chat">
            <b>{{message.user}}</b>:&nbsp;{{message.text}}</br>
          </div>
        </div>
        <div class="grid-content shrink">
          <form ng-submit="submit()">
            <label>
              <input type="text" ng-model="text" name="text" placeholder="Write your text here" />
            </label>
            <input type="submit" value="submit" ng-hide="true"/>
          </form>
        </div>
      </div>

      <div class="grid-block shrink vertical">
        <div class="grid-content shrink">
          <h3 class="subheader" style="font-weight:300">Rank</h3>
          <table class="gameRank">
            <tr ng-repeat="player in players">
              <td>{{player.name}}</td>
              <td class="text-right"><b>{{player.points}}</b>&nbsp;pts</td>
            </tr>
          </table>
        </div>
        <div class="grid-content shrink" style="margin-top:30px;">
          <h3 class="subheader" style="font-weight:300">Tools</h3>
          <div class="clearfix">
            <div class="colorBox gray-darker-color" style="border:1px solid transparent">
              <i class="fa fa-pencil fa-lg fa-fw"></i>
            </div>
            <!-- <div class="colorBox gray-darker-color" style="border:1px solid transparent">
              <i class="fa fa-tint fa-lg fa-fw"></i>
            </div>
          </div>
          <div class="clearfix">
            <div class="colorBox gray-darker-color" style="border:1px solid transparent">
              <i class="fa fa-eraser fa-lg fa-fw"></i>
            </div> -->
            <div class="colorBox gray-darker-color" style="border:1px solid transparent" ng-click="resetDrawing()">
              <i class="fa fa-trash fa-lg fa-fw"></i>
            </div>
          </div>
          <div class="clearfix">
            <div class="colorBox" style="background:black" ng-click="setColor('black')">&nbsp;</div>
            <div class="colorBox" style="background:white" ng-click="setColor('white')">&nbsp;</div>
          </div>
          <div class="clearfix">
          <div class="colorBox" style="background:#2980b9" ng-click="setColor('#2980b9')">&nbsp;</div>
          <div class="colorBox" style="background:#27ae60" ng-click="setColor('#27ae60')">&nbsp;</div>
          </div>
          <div class="clearfix">
            <div class="colorBox" style="background:#f1c40f" ng-click="setColor('#f1c40f')">&nbsp;</div>
            <div class="colorBox" style="background:#d35400" ng-click="setColor('#d35400')">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="grid-block vertical shrink">
    <div class="grid-content text-center shrink">
      <h1 class="subheader" style="font-weight:300">Find the word</h1>
    </div>
    <div class="grid-content shrink">
      <h1 class="subheader text-center" style="font-weight:300">_ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ _ </h1>
    </div>
    <div class="grid-content">
      <canvas width="600" height="600" style="border:1px solid #bdc3c7" id="canvas" drawing></canvas>
    </div>
  </div>

</div>
