<div class="grid-block small-up-2 align-spaced">
  <div class="grid-content small-5">
    <h2>Welcome {{ user.username || 'Fred' }}</h2>
    <h3 class="subheader"> Data Stats</h3>
    <ul class="no-bullet">
      <li>Rank #1 of #1</li>
      <li>Games played #1</li>
      <li>Words guessed right #1</li>
      <li>Last Login #Date</li>
      <li>Friends online #10</li>
    </ul>
    <button class="hollow button alert" ng-click="logOut()">Log Out</button>
  </div>
  <div class="grid-content small-5">
    <h2>Chatrooms</h2>
    <h3 class="subheader">Choose a language</h3>
    <ul class="no-bullet">
      <li>English (9/10)</li>
      <li>German (8/10)</li>
      <li>French (10/10)</li>
      <li>Spanish (9/10)</li>
    </ul>
    <button class="hollow button" ng-click="startGame()">Play</button>
  </div>
</div>
