<div class="grid-block v-align align-center">
  <div class="grid-content medium-6 large-4" style="margin-top:30px">
    <h1 id="logo">
      <span class="success-color">S</span><span class="primary-color">k</span><span class="dark-color">e</span><span class="info-color">t</span><span class="warning-color">c</span><span class="alert-color">h</span><span class="success-color">Q</span><span class="primary-color">u</span><span class="dark-color">i</span><span class="info-color">z</span>
    </h1>
    <h5 class="subheader">Just fill out the form below and you are good to go.</h5>

    <form style="margin-top:1em" name="logInForm" ng-submit="signUp()">
      <input ng-model="user.username" type="text" placeholder="Username" />
      <input ng-model="user.password" type="password" placeholder="Password" />
      <input ng-model="user.passwordRepeat" type="password" placeholder="Repeat password" />
      <input ng-model="user.email" type="email" placeholder="Email" />
      <input type="submit" value="Sign Up" class="hollow button float-right" style="margin-right:0px" />
    </form>
  </div>
</div>
